h2 {
    color: coral;
}

span {
    color: goldenrod;
}

.card {
    /* border-image: auto; */
    /* display: inline-block; */
    width: 500px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    /* margin: 150px; */
    /* margin: 150px; */
    margin: 10px;
    /* margin-top: 0px; */
}

img {
    border-radius: 20px;
    width: 100%;
    /* width: 500px; */
}

#pets {
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:430px) {
    #pets {
        flex-wrap: wrap;
    }
}