/* Q1. */

h1 {
    color: green;
}

.class {
    color: red;
}

#greet {
    color: yellow;
    background-color: black;
}

/* Q2. */

div p {
    color: red;
}

p {
    color: green;
}

.para {
    color: blueviolet;
}

/* Q3.  */