* {
    font-family: Klim;
}

h1,
h3 {
    color: #b92b27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

.post a {
    color: purple;
    background-color: yellow;
}

nav>ul>li>a {
    color: hotpink;
}

p+h3 {
    text-decoration: underline;
}



.upvote+button {
    background-color: green;
    color: white;
}

/* YAA FIR AISE V LIKH SAKTE HAI  */
.upvote+.answer {
    background-color: red;
    color: white;
}


div>input {
    background-color: darksalmon;
}

nav>ul>li>a {
    color: hotpink;
}

input[type="text"] {
    color: rgb(184, 46, 184);
    background-color: ghostwhite;
}

input[type="password"] {
    color: chocolate;
    background-color: ghostwhite;
}

button:hover {
    color: white;
    background-color: black;
}

h3:hover {
    text-decoration: none;
}

button:active {
    background-color: red;
}

/* YE BAAD ME ADD HUA HAI */
#myId {
    color: green;
}


#myId:active {
    color: red;
    font-weight: bold;
}

input[type="radio"]:checked+label {
    color: black;
    font-weight: bold;
}

div:nth-of-type(2n) {
    background-color: orange;
}

/* body:fullscreen {
    background-color: yellow;
} */

h1::first-letter {
    color: blue;

}

#myId::first-line {
    color: pink;
}

#myId::selection {
    background-color: green;
}

/* 


TO DO SO ON WHOLE BODY
*::selection {
    background-color: green;
} 

*/