span {

    height: 500px;
    width: 500px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}













/* h2 {
    display: inline;
    background-color: red;
}

span {
    display: block;
    background-color: pink;
} */