<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username" id="user"> <br><br>
        <textarea rows="10" cols="40" placeholder="write your post" name="content" id="txtarea"></textarea> <br><br>
        <button>Post Now</button>
    </form>
</body>

</html>